@font-face {
  font-family: "Rubik";
  src: url("./Rubik-VariableFont_wght.ttf");
}

body {
  font-family: Rubik, sans-serif;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.drawer {
  display: flex;
  flex-direction: column;
}

.nav-toolbar {
  justify-content: flex-end;
}

.button-lang {
  text-transform: capitalize;
  font-size: 15px;
}

.margin-box-cart-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.margin-box-cart-menu>*:not(:last-child) {
  margin-right: 12px;
}

.app-bar-icon-shopping-cart {
  transform: scale(1);
}

.app-bar-icon-language {
  transform: scale(1.15);
}

.app-bar-icon-avatar {
  transform: scale(1.105);
}

.cake-dripping-nav {
  width: 100%;
  height: auto;
}

.cake-grid-container {
  position: relative;
  width: 250px;
  height: auto;
}

.oval {
  width: 140px;
  height: 33px;
  border-radius: 50%;
  transform: scaleX(1);
  position: absolute;
  bottom: -25px;
  transition: top 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.relative-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.bundle-box {
  border-radius: 30px;
}

.bundle-inner-box {
  display: flex;
  justify-content: space-between;
}

.bundle-container {
  display: flex;
  justify-content: center;
}

.bundle-container-box {
  display: flex;
  justify-content: space-between;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.typography-button-box {
  display: flex;
  flex-direction: column;
  gap: 85px;
  margin: 0px 10px 0px 20px;
}


@media (max-width: 600px) {
  .bundle-text {
    text-align: right;
    margin-bottom: 20px;
    font-size: 15px;
  }
}


@media (min-width: 601px) {
  .bundle-text {
    text-align: right;
    margin-bottom: 20px;
    font-size: 18px;
  }
}


@media (min-width: 900px) {
  .bundle-text {
    text-align: right;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .bundle-text {
    text-align: right;
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.shop-now {
  flex: 1;
  border-radius: 18px;
}

.shop-now-padding {
  padding: 7px 0px 7px 0px;
  margin: 10px 0px 10px 0px;
}

.gap-cookie-grid {
  padding: 10px 45px 10px 45px;
  border-radius: 20px;
}

.cookie-header {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.cookie-footer {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
}

.cookie-img,
.cookie-header {
  position: relative;
  top: 0;
  transition: top 0.3s ease;
}

.cookie-img:hover {
  top: -10px;
  cursor: pointer;
}

.cookie-img:hover+.oval {
  width: 130px;
  height: 32px;
}

.oval:hover+.cookie-img {
  top: -10px;
}

.our-product {
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: right;
}

.about {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
}

.bundles {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: right;
}

.shop-now-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .shop-now-bundle-container {
    margin: 0px 10% 0px 10%;
  }
}

@media (min-width: 601px) {
  .shop-now-bundle-container {
    margin: 0px 25% 0px 25%;
  }
}

.carousel-slider {
  position: relative;
  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cookies {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .arrow.left {
    left: 5px;
  }

  .arrow.right {
    right: 5px;
  }
}

@media (min-width: 601px) {
  .arrow.left {
    left: -14px;
  }

  .arrow.right {
    right: -14px;
  }
}


.dots {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.dots button {
  height: 12px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.dots button.active {
  background-color: #333;
}